/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
    .tab{
       position: relative;
        left:30px ;
        bottom: -40px;
        background-color: #df230a;
     
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
  }
input{
    width: 80px;
    height:90px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #383735;
    border-radius: 12px 12px;
    border: none;
}
input:hover{
    background-color: #ffffff;
    border:2px solid #e46a19;
    color:#383735 ;
}
.tab{
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 2);
    position: relative;
    left:32% ;
    bottom: -40px;
    background-color: #f8a808;
    border-radius: 8px 8px;
 
}
.screen{
    width: 412px;
    height: 60px;
    background-color: #3837358f;

}
h1, p{
    text-align: center;
}