.music-container{
    width: 350px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.music-img{
    height: 350px;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url('album-cover.jpg');
    color: #fff;
}
.music-header{
    border-bottom:1px solid #555 ;
    height: 50px;
}
.music-header .fa-angle-left{
    float: left;
    margin-top:15px;
    margin-left:10px;
    cursor: pointer;

}
.music-header .fa-list-ul{
    float: right;
    margin-top:15px;
    margin-right:10px;
    cursor: pointer;
    
}
.music-header .title{
    width: 250px;
    height: 30px;
    position: absolute;
    margin-left: 30px;
    margin-top: 10px;
    text-align: center;
    padding-left: 10px;
}
.inner-img{
    padding-top: 60px;
    
}
.inner-img img{
    position: absolute;
    margin: auto;
    left: 36%;
    top: 32%;
    width: 39%;
    height: 29%;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
    margin-bottom: 30px;

}
@keyframes rotate{
    100%{transform: rotate(360deg);}
}
marquee{
    font-size: 12px;
    margin-top: -10px;
}
.music-control{
    background-image: linear-gradient(#ff0000,#222);

}
.music-bar .progress{
    height: 5px !important;
    border-radius: 0 !important;
    background-color: #000;

}
.music-bar .progress-bar{
    width: 50%;
    background-color: #fff;
    animation: width 10s infinite;
}
@keyframes width{
    100%{width: 100%;}
}
.social-bar{
    border-bottom: 1px solid #ff2424;
    height: 50px;
}
.social-bar .fa{
    padding: 15px 26px;
    color: #999;
    font-size: 15px;
    cursor: pointer;
}
.control-bar .fa{
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}
.control-bar .fa-play{
    width: 60px;
    height: 60px;
    padding-top: 14px ;
    color: #fff;
    background-color: #de1a1a;
    border-radius: 50%;
    font-size: 30px;

}
.control-bar .fa-step-backward,  .control-bar .fa-step-forward{
    width: 40px;
    height: 40px;
    padding: 12px ;
    color: #ccc;
    background-color: #ff3636;
    border-radius: 50%;
    font-size: 15px;
    
}
.control-bar .fa-retweet,  .control-bar .fa-random{
    width: 40px;
    height: 40px;
    padding: 12px ;
    color: #ccc;
    font-size: px;
    
}
    
